.body {
    background-color:#FFC0CB ;
}
.h1 {
    margin: 5px;
}

.container {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.parts {
    margin: auto;
    margin-top: 15px;
    border: 2px solid;
    padding: 5%;
    background-color: rgb(235, 240, 244);
}



.table {
    border: 4px solid;
    margin:16px ;
}

.bord {
    border: 2px solid;
    padding: 2px;
}

.float {
    text-align: center;
    margin: auto;
    margin-top: 3px;
}

.form {
    margin: auto;
    text-align: center;
}

.submit {
    text-align:left;
    background-color: rgb(4, 213, 144);
}
.div{
    text-align: center;
    text-indent: 1%;
}
